.body {display:none;}
.indicator { 
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}
body {
    padding: 180px 0 0 40px;
    background: #101010 url(https://wallpapercave.com/wp/wp2757874.gif);
    background-repeat:no-repeat;
    background-size: cover;

}

/* https://wallpapercave.com/wp/wp2757874.gif */
pre {
    color: #7289da;
    font-size: 32px;
    font-family: monospace;
    font-weight: bolder;
}
 
#tagline {
    color: grey;
    font-weight: 100;
}
 
#pow-txt {
    display: none;
    font-weight: 100;
    color: #e3e3e3 !important;
}